<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search Problem" aria-label="Search">
              </form>            
            </ul>
        
            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <li class="nav-item dropdown d-flex p-3">
                <a *ngIf="auth.user$ | async as user" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.nickname}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/profile"> My Profile </a></li>
                  <li><a class="dropdown-item" href="#">My Favorites</a></li>
                  <li><a class="dropdown-item" href="#">My Submissions</a></li>

                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
                    Log out</a></li>
                </ul>
            </li>
          </ng-container>

          <ng-template #loggedOut>
            <form class="d-flex">
              <button class="btn btn-primary" (click)="auth.loginWithRedirect()">Sign in</button>
          </form>
          </ng-template>

          </div>
        </div>
      </nav>
      
</div>
