
<div class="container">
    <app-new-problem (buttonClick)="onAddProblemButtonClick()"></app-new-problem>
    <div class="list-group">
        <a class="list-group-item" *ngFor="let problem of problems" [routerLink]="['/problems', problem.id]" routerLinkActive="router-link-active"  > 
            <span class="{{'badge badge-pill difficulty diff-' + problem.difficulty}}">{{problem.difficulty}}</span>
            <strong>{{problem.id}}, {{problem.name}}</strong>
            <!-- <p>{{problem.desc}}</p> -->
        </a>
    </div>
</div>